/*Place holder sample

$theme-colors: (
    "info": tomato,
    "danger": teal
);*/

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;500&display=swap');
@import "~bootstrap/scss/bootstrap";

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-wrap {
    height: 100vh;
}

.scrollable {
    height: 30vh;
    overflow-y: auto;
}

.brand, .main-header {
    font-family: 'Advent Pro', sans-serif;
}

.body {
    background-image: url('../img/pattern.png');
    background-attachment: fixed;
}

.carousel-wrapper {
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3f3f3f;
    background-blend-mode: overlay;
}